workflow1.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -420,
        80
      ],
      "id": "2d80e9c2-3fab-43a6-b861-920a96a10fc5",
      "name": "When chat message received",
      "webhookId": "c2de63da-8169-408f-a6ff-17bd21568a81"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant and always response Turkish language"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -100,
        60
      ],
      "id": "37cb989d-7b3c-400a-951f-49af81a15247",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "{{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        280,
        60
      ],
      "id": "fa334206-b3a3-42eb-9dc8-613fb522e422",
      "name": "IF"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -180,
        340
      ],
      "id": "d0b5fd9c-b734-4c4f-b1a0-2ee87b5ef338",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "a8jWcaFQgxQeBEei",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -40,
        340
      ],
      "id": "214983cf-d6f1-45bc-aed9-86d6b609304b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87ffb9d8-6e59-4d51-9909-59a9b51d069e",
              "name": "durum",
              "value": "başarılı",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        -100
      ],
      "id": "c2067715-3176-46fb-b03a-e5e23f0bf033",
      "name": "Basarili"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f21ab6f7-8ec0-4821-9010-4192f7027937",
              "name": "Durum",
              "value": "Başarısız",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        160
      ],
      "id": "769bfe54-abcb-4a72-9bef-9192fd0f416d",
      "name": "Basarisiz"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Basarili",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basarisiz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "332ca6d49fb2b9d2b11f942b6677ef794c92c71b4b1339dc2d59c259bcab9133"
  }
}